/**
 * Typography
 */


/////////////
/* Raleway */
/////////////

@import url('https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,700|Raleway:300,400,700');
@import '~breakpoint-sass/stylesheets/breakpoint';

.font-light {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.font-bold {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/////////////
/* PT Sans */
/////////////

.alt-font-regular {
  font-family: 'PT Sans', sans-serif;
}

.font-body-light {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.font-body-regular {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.font-body-bold {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}